body {
    background-color: #0081C9;
    
}

hr {
    
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width:5px;
    width:10%;
}
h1{
    color: darkblue;
}
h3{
    color: darkblue;
}